pandas
polars
streamlit
streamlit-calendar
streamlit-d3-demo
streamlit-d3graph
streamlit-nested-layout
streamlit-option-menu
streamlit_pandas
numpy
matplotlib
matplotlib-inline
japanize-matplotlib
requests
requests-oauthlib
beautifulsoup4
sqlalchemy
psycopg2